body{font-family:"Merriweather",Times,serif;color:#333333;}
form{line-height:1.5;}
fieldset{margin-top:10px;margin-bottom:10px;border-radius:15px;}
fieldset legend{font-size:large;}
fieldset .footnote{position:relative;float:right;bottom:-4px;font-size:small;}
a{text-decoration:none;color:#009900;}
a:visited{color:#009900;}
a:hover{text-decoration:underline;}
.button{-webkit-appearance:none;height:40px;border-radius:10px;background-color:#ecffe5;}
.footnote{font-size:small;float:right;}
.box{border:1px dotted grey;border-radius:15px;padding:15px;width:fit-content;vertical-align:top;}